# Ansible管理: roles/vm_dev/templates/mimeapps.list.j2
# デスクトップ全体(システム既定)のMIME関連付け。
# ユーザー個別の ~/.config/mimeapps.list があればそちらが優先される。
[Default Applications]
text/html={{ development_default_browser_desktop }}
application/xhtml+xml={{ development_default_browser_desktop }}
x-scheme-handler/http={{ development_default_browser_desktop }}
x-scheme-handler/https={{ development_default_browser_desktop }}
x-scheme-handler/about={{ development_default_browser_desktop }}
x-scheme-handler/unknown={{ development_default_browser_desktop }}
