# Ansible管理: roles/vm_dev/templates/vscode-server-cleanup.service.j2
[Unit]
Description=Clean up old VSCode Server (Remote-SSH) versions

[Service]
Type=oneshot
User={{ ansible_user }}
ExecStart=/usr/local/bin/vscode-server-cleanup.sh
