# Ansible管理: roles/development/templates/vscode-server-cleanup.timer.j2
[Unit]
Description=Periodically clean up old VSCode Server (Remote-SSH) versions

[Timer]
OnCalendar={{ development_vscode_cleanup_schedule }}
Persistent=true

[Install]
WantedBy=timers.target
