{% set registry_auth = (k8s_kubernetes_replicator_registry_username ~ ':' ~ k8s_kubernetes_replicator.github_token) | b64encode %}
{% set docker_config = {'auths': {k8s_kubernetes_replicator_registry_server: {'username': k8s_kubernetes_replicator_registry_username, 'password': k8s_kubernetes_replicator.github_token, 'auth': registry_auth}}} %}
# ghcr.ioのpull資格情報(複製元)。replicate-toで各Namespaceへ複製される。
apiVersion: v1
kind: Secret
metadata:
  name: {{ k8s_kubernetes_replicator_secret_name }}
  namespace: {{ k8s_kubernetes_replicator_source_namespace }}
  annotations:
    replicator.v1.mittwald.de/replicate-to: {{ k8s_kubernetes_replicator_target_namespaces | to_json }}
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: {{ docker_config | to_json | to_json }}
